body {
    color: #333;
    font-family: Verdana;
}

a {
    color: #111;
    text-decoration: none;
}

a:hover {
    color: #666;
}

div.page {
    min-width: 400px;
    width: 50%;
    border: 1px solid #ddd;
    margin: auto;
}

div.nav {
    padding: 5px;
    background-color: #ddd;
}

div.nav a {
    color: #111;
}

div.nav a:hover {
    color: #666;
}

div.body {
    padding: 5px;
}

div.note {
    border: 1px solid #ccc;
    background-color: #eee;
    padding: 5px;
}

div.note h3 {
    margin: 5px 0 5px 0;
}

.form-field {
    margin: 5px 0 5px 0;
    padding: 5px;
}

.message {
    padding: 5px;
    border: 1px solid #ccc;
}

.message.error {
    border-color: #c00;
}

.message.success {
    border-color: #0c0;
}